* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html {
    font-size: 62.5%;
}

main {
    max-width: 80%;
    margin: auto;
}

.hero {

    display: grid;
    grid-template-columns: minmax(1rem, 2fr) 3fr;
    grid-auto-rows: 40rem;
    border-bottom: .1rem solid #020246;
    background: #000;
    border-bottom-left-radius: 4rem;
}

.hero__info {
    align-self: center;
    margin-left: 3rem;
}

.hero__title {
    font-size: 4rem;
    color: #fff;
    font-weight: 900;
}

.hero__text {
    font-size: 1.8rem;
    padding: 1.3rem 0;
    color: #fff;
    
}

.hero__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero__button {
    background: #f06101;
    color: #fff;
    border: none;
    padding: 1.2rem 2.3rem;
    border-radius: 2rem;
}


/* main content */


.container-main {
    margin-top: 4rem;
}

.main-principal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70, 200px));
    grid-auto-rows: 1fr;
    grid-template-areas: 
    "video video dishes1 dishes2"
    "video video dishes3 dishes4";
    gap: 2rem;
    justify-content: center;
}

.container-main__title {
    font-size: 4rem;
    color: #000;
    font-weight: 900;
    margin: 2rem 0;
    text-align: center;
}


.main-principal__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video {
    grid-area: video;
}

.dishes1 {
    grid-area: dishes1;
}

.dishes2 {
    grid-area: dishes2;
}

.dishes3 {
    grid-area: dishes3;
}

.dishes4 {
    grid-area: dishes4;
}

/* menu home */

.container-menu {
    margin-top: 4rem;
    
}

.container-menu__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
    gap: 2rem;
}

.container-menu__show {
    background: #000;
    border-radius: 3rem;
}

.container-menu__img {
    width: 100%;
    
}


@media screen and (max-width:768px){
    .hero{
        grid-template-columns: minmax(7rem, 60rem);
        text-align: center;
      
    }

    .hero__info {
        margin: 0 .5rem;
    }

    .hero__text {
        font-size: 1.5rem;
    }
    .main-principal {
    grid-template-areas: 
    "video video"
    "video video"
    "dishes1 dishes2"
    "dishes3 dishes4";
    }


}